Importing the libraries I will need to use.

In [2]:
import pandas as pd
import matplotlib as plt
#import BeautifulSoup4 as bs
import sqlite3

Importing the data from the datasets into a Data Frame.

df.DCComics is for the DC Comic Heroes dataset.

df.Marvel is for the Marvel Comic Heroes dataset.

df.attributes is the dataset that has the attributes the heroes possess.

    Intelligence
    Strength
    Speed
    Durability
    Raw Power Score	
    Combat Ability

df.powers is the dataset that has the powers that each hero possess.

In [3]:
DCComicsdf = pd.read_csv("data/dc-wikia-data_updated.csv", encoding='utf-8')
MarvelComicsdf = pd.read_csv("data/marvel-wikia-data_update.csv", encoding='utf-8')
Superheroes_datadf = pd.read_csv("data/superheroes_data.csv", encoding='utf-8')
superherosdf = pd.read_csv("data/superheroes.csv", encoding='utf-8')
print(DCComicsdf.head())
print(MarvelComicsdf.head())
print(Superheroes_datadf.head())
print(superherosdf.head())

   id             name       full-name                              urlslug  \
0   1           batman   (bruce wayne)         \/wiki\/batman_(bruce_wayne)
1   2         superman    (clark kent)        \/wiki\/superman_(clark_kent)
2   3    green lantern    (hal jordan)   \/wiki\/green_lantern_(hal_jordan)
3   4     james gordon     (new earth)     \/wiki\/james_gordon_(new_earth)
4   5  richard grayson     (new earth)  \/wiki\/richard_grayson_(new_earth)

          identity            align         eye        hair              sex  \
0  secret identity  good characters   blue eyes  black hair  male characters
1  secret identity  good characters   blue eyes  black hair  male characters
2  secret identity  good characters  brown eyes  brown hair  male characters
3  public identity  good characters  brown eyes  white hair  male characters
4  secret identity  good characters   blue eyes  black hair  male characters

   gsm              alive appearances first appearance  year  Unnamed: 14
0  NaN  living characters        3093        1939, may  1939          NaN
1  NaN  living characters        2496    1986, october  1986          NaN
2  NaN  living characters        1565    1959, october  1959          NaN
3  NaN  living characters        1316   1987, february  1987          NaN
4  NaN  living characters        1237      1940, april  1940          NaN
   id             name                  full-name  \
0   1       spider-man             (peter parker)
1   2  captain america            (steven rogers)
2   3        wolverine  (james \"logan\" howlett)
3   4         iron man   (anthony \"tony\" stark)
4   5             thor             (thor odinson)

                                   urlslug          identity  \
0              \/spider-man_(peter_parker)   secret identity
1        \/captain_america_(steven_rogers)   public identity
2  \/wolverine_(james_%22logan%22_howlett)   public identity
3    \/iron_man_(anthony_%22tony%22_stark)   public identity
4                    \/thor_(thor_odinson)  no dual identity

                align         eye        hair              sex  gsm  \
0     good characters  hazel eyes  brown hair  male characters  NaN
1     good characters   blue eyes  white hair  male characters  NaN
2  neutral characters   blue eyes  black hair  male characters  NaN
3     good characters   blue eyes  black hair  male characters  NaN
4     good characters   blue eyes  blond hair  male characters  NaN

               alive  appearances first appearance    year
0  living characters       4043.0           Aug-62  1962.0
1  living characters       3360.0           Mar-41  1941.0
2  living characters       3061.0           Oct-74  1974.0
3  living characters       2961.0           Mar-63  1963.0
4  living characters       2258.0           Nov-50  1950.0
   id         name  intelligence  strength  speed  durability  power  combat  \
0   1       A-Bomb          38.0     100.0   17.0        80.0   24.0    64.0
1   2   Abe Sapien          88.0      28.0   35.0        65.0  100.0    85.0
2   3     Abin Sur          50.0      90.0   53.0        64.0   99.0    65.0
3   4  Abomination          63.0      80.0   53.0        90.0   62.0    95.0
4   5      Abraxas          88.0      63.0   83.0       100.0  100.0    55.0

                full-name            alter-egos  ...               race  \
0  Richard Milhouse Jones  No alter egos found.  ...              Human
1          Abraham Sapien  No alter egos found.  ...      Icthyo Sapien
2                     NaN  No alter egos found.  ...            Ungaran
3            Emil Blonsky  No alter egos found.  ...  Human / Radiation
4                 Abraxas  No alter egos found.  ...      Cosmic Entity

              height                weight eye-color hair-color  \
0  ["6'8", '203 cm']  ['980 lb', '441 kg']    Yellow    No Hair
1  ["6'3", '191 cm']   ['145 lb', '65 kg']      Blue    No Hair
2  ["6'1", '185 cm']   ['200 lb', '90 kg']      Blue    No Hair
3  ["6'8", '203 cm']  ['980 lb', '441 kg']     Green    No Hair
4      ['-', '0 cm']      ['- lb', '0 kg']      Blue      Black

                                          occupation    base  \
0  Musician, adventurer, author; formerly talk sh...       -
1                            Paranormal Investigator       -
2            Green Lantern, former history professor      Oa
3                                             Ex-Spy  Mobile
4                              Dimensional destroyer       -

                                   group-affiliation  \
0  Hulk Family; Excelsior (sponsor), Avengers (ho...
1         Bureau for Paranormal Research and Defense
2           Green Lantern Corps, Black Lantern Corps
3  former member of the crew of the Andromeda Sta...
4                                      Cosmic Beings

                                           relatives  \
0  Marlo Chandler-Jones (wife); Polly (aunt); Mrs...
1                      Edith Howard (wife, deceased)
2  Amon Sur (son), Arin Sur (sister), Thaal Sines...
3            Nadia Dornova Blonsky (wife, separated)
4                                Eternity ("Father")

                                                 url
0  https://www.superherodb.com/pictures2/portrait...
1  https://www.superherodb.com/pictures2/portrait...
2  https://www.superherodb.com/pictures2/portrait...
3  https://www.superherodb.com/pictures2/portrait...
4  https://www.superherodb.com/pictures2/portrait...

[5 rows x 26 columns]
    id Alignment Alter_Egos Base Character Class_value Collections Combat  \
0  1.0      Good        NaN  NaN   Alucard        5471         NaN     80
1  2.0      Good        NaN  NaN   Alucard        5876         NaN     80
2  3.0      Good        NaN  NaN   Alucard     2586011         NaN     90
3  4.0      Good        NaN  NaN   Alucard     3380098         NaN     90
4  5.0      Good        NaN  NaN   Alucard        1170         NaN    100

  Creator Durability  ... Unnamed: 310 Unnamed: 311 Unnamed: 312 Unnamed: 313  \
0  Konami         35  ...          NaN          NaN          NaN          NaN
1  Konami         35  ...          NaN          NaN          NaN          NaN
2  Konami        100  ...          NaN          NaN          NaN          NaN
3  Konami        100  ...          NaN          NaN          NaN          NaN
4     NaN         45  ...          NaN          NaN          NaN          NaN

  Unnamed: 314 Unnamed: 315 Unnamed: 316 Unnamed: 317 Unnamed: 318  \
0          NaN          NaN          NaN          NaN          NaN
1          NaN          NaN          NaN          NaN          NaN
2          NaN          NaN          NaN          NaN          NaN
3          NaN          NaN          NaN          NaN          NaN
4          NaN          NaN          NaN          NaN          NaN

  Unnamed: 319
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN

[5 rows x 320 columns]

C:\Users\charl\AppData\Local\Temp\ipykernel_22248\571155349.py:4: DtypeWarning: Columns (17,18,20,24,25,26,28,31,32,33,34,36,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303,304,305,306,307,308,309,310,311,312,313,314,315,316,317,318,319) have mixed types. Specify dtype option on import or set low_memory=False.
  superherosdf = pd.read_csv("data/superheroes.csv", encoding='utf-8')

Getting the Column Names for DC from the CSV

In [4]:
column_names = DCComicsdf.columns.tolist()
print("Column Names:", column_names)

Column Names: ['id', 'name', 'full-name', 'urlslug', 'identity', 'align', 'eye', 'hair', 'sex', 'gsm', 'alive', 'appearances', 'first appearance', 'year', 'Unnamed: 14']

Getting the Column Names for Marvel from the CSV

In [27]:
column_names = MarvelComicsdf.columns.tolist()
print("Column Names:", column_names)

Column Names: ['name', 'full-name', 'urlslug', 'id', 'align', 'eye', 'hair', 'sex', 'gsm', 'alive', 'appearances', 'first appearance', 'year']

Getting the Column Names for the SuperHero Ability stats

In [28]:
column_names = Superheroes_datadf.columns.tolist()
print("Column Names:", column_names)

Column Names: ['name', 'intelligence', 'strength', 'speed', 'durability', 'power', 'combat', 'full-name', 'alter-egos', 'aliases', 'place-of-birth', 'first-appearance', 'publisher', 'alignment', 'gender', 'race', 'height', 'weight', 'eye-color', 'hair-color', 'occupation', 'base', 'group-affiliation', 'relatives', 'url']

Getting the Column Names for the SuperHeroes Power List

In [29]:
column_names = superherosdf.columns.tolist()
print("Column Names:", column_names)

Column Names: ['Alignment', 'Alter_Egos', 'Base', 'Character', 'Class_value', 'Collections', 'Combat', 'Creator', 'Durability', 'Equipment', 'Eye_color', 'Formerly', 'Full_name', 'Gender', 'Hair_color', 'Height', 'IQ', 'Intelligence', 'Leader', 'Level', 'Member', 'Name', 'Occupation', 'Omnipotent', 'Omnipresent', 'Omniscient', 'Place_of_birth', 'Power', 'Relatives', 'Species', 'Speed', 'Speed_velocity', 'Strength', 'Strength_force', 'Super_powers', 'Tier', 'Universe', 'Weight', 'History']

Testing out Filtering the SuperHero Powers CSV as I only want to see DC and Marvel publishers

In [4]:
filteredDC_df = superherosdf[superherosdf['Creator'] == 'DC Comics']
print("Filtered DC Comics DataFrame:\n", filteredDC_df)

filteredMarvel_df = superherosdf[superherosdf['Creator'] == 'Marvel Comics']
print("Filtered Marvel Comics DataFrame:\n", filteredMarvel_df)

Filtered DC Comics DataFrame:
             id Alignment                                         Alter_Egos  \
26        27.0      Good                                                NaN
27        28.0      Good                                                NaN
57        58.0      Good                                                NaN
58        59.0      Good                                                NaN
59        60.0      Good                                                NaN
...        ...       ...                                                ...
28401  28402.0         -  Anti-Monitor,Anti-Monitor,Anti-Monitor,Anti-Mo...
28403  28404.0      Good                                                NaN
28404  28405.0       NaN                                        Doctor Fate
28405  28406.0      Good                                                NaN
28407  28408.0      Good                                                NaN

                    Base       Character  Class_value             Collections  \
26           Gotham City        Batwoman           60                     NaN
27           Gotham City        Batwoman           71                     NaN
57     Department PSI HQ            Alea           84                     NaN
58     Department PSI HQ            Alea          118                     NaN
59     Department PSI HQ            Alea          118                     NaN
...                  ...             ...          ...                     ...
28401                NaN  Yellow Lantern  46353667888  Green Lantern Villains
28403                NaN          Zatara        14644                     NaN
28404                NaN          Zatara     872093.6    Young Justice (2010)
28405      Tower of Fate         Zatanna         8970                     NaN
28407      Sweet Justice         Zatanna         8376                     NaN

      Combat    Creator Durability  ... Unnamed: 310 Unnamed: 311  \
26        80  DC Comics         15  ...          NaN          NaN
27        80  DC Comics         15  ...          NaN          NaN
57        75  DC Comics         20  ...          NaN          NaN
58        75  DC Comics         20  ...          NaN          NaN
59        75  DC Comics         20  ...          NaN          NaN
...      ...        ...        ...  ...          ...          ...
28401     75  DC Comics        100  ...          NaN          NaN
28403     35  DC Comics         40  ...          NaN          NaN
28404     60  DC Comics         40  ...          NaN          NaN
28405     60  DC Comics         25  ...          NaN          NaN
28407     30  DC Comics         15  ...          NaN          NaN

      Unnamed: 312 Unnamed: 313 Unnamed: 314 Unnamed: 315 Unnamed: 316  \
26             NaN          NaN          NaN          NaN          NaN
27             NaN          NaN          NaN          NaN          NaN
57             NaN          NaN          NaN          NaN          NaN
58             NaN          NaN          NaN          NaN          NaN
59             NaN          NaN          NaN          NaN          NaN
...            ...          ...          ...          ...          ...
28401          NaN          NaN          NaN          NaN          NaN
28403          NaN          NaN          NaN          NaN          NaN
28404          NaN          NaN          NaN          NaN          NaN
28405          NaN          NaN          NaN          NaN          NaN
28407          NaN          NaN          NaN          NaN          NaN

      Unnamed: 317 Unnamed: 318 Unnamed: 319
26             NaN          NaN          NaN
27             NaN          NaN          NaN
57             NaN          NaN          NaN
58             NaN          NaN          NaN
59             NaN          NaN          NaN
...            ...          ...          ...
28401          NaN          NaN          NaN
28403          NaN          NaN          NaN
28404          NaN          NaN          NaN
28405          NaN          NaN          NaN
28407          NaN          NaN          NaN

[4440 rows x 320 columns]
Filtered Marvel Comics DataFrame:
             id Alignment Alter_Egos                      Base  \
16        17.0       Bad        NaN                       NaN
17        18.0       Bad        NaN                       NaN
18        19.0       Bad        NaN                       NaN
40        41.0   Neutral      Angel                       NaN
41        42.0   Neutral      Angel                       NaN
...        ...       ...        ...                       ...
28376  28377.0       NaN        NaN                       NaN
28377  28378.0       NaN        NaN                       NaN
28383  28384.0   Neutral        NaN  Starship Captain America
28390  28391.0   Neutral        NaN                       NaN
28395  28396.0      Good  Zeus,Zeus             Mount Olympus

             Character Class_value  \
16     Aldrich Killian         133
17     Aldrich Killian         144
18     Aldrich Killian         144
40           Archangel         101
41           Archangel         109
...                ...         ...
28376           Vision      1752.1
28377           Vision      286173
28383            Yondu       107.3
28390             Zeus       16458
28395             Zeus   154179745

                                             Collections Combat  \
16                                                   NaN     60
17                                                   NaN     60
18                                                   NaN     60
40                                                   NaN     60
41                                                   NaN     60
...                                                  ...    ...
28376                                                NaN     30
28377                                                NaN    100
28383                                        Anti-heroes     80
28390                                                NaN     70
28395  Anti-heroes,Avx Civil War Avengers Vs X-men Ci...     90

             Creator Durability  ... Unnamed: 310 Unnamed: 311 Unnamed: 312  \
16     Marvel Comics         25  ...          NaN          NaN          NaN
17     Marvel Comics         25  ...          NaN          NaN          NaN
18     Marvel Comics         25  ...          NaN          NaN          NaN
40     Marvel Comics         25  ...          NaN          NaN          NaN
41     Marvel Comics         25  ...          NaN          NaN          NaN
...              ...        ...  ...          ...          ...          ...
28376  Marvel Comics         35  ...          NaN          NaN          NaN
28377  Marvel Comics        100  ...          NaN          NaN          NaN
28383  Marvel Comics         50  ...          NaN          NaN          NaN
28390  Marvel Comics         70  ...          NaN          NaN          NaN
28395  Marvel Comics        100  ...          NaN          NaN          NaN

      Unnamed: 313 Unnamed: 314 Unnamed: 315 Unnamed: 316 Unnamed: 317  \
16             NaN          NaN          NaN          NaN          NaN
17             NaN          NaN          NaN          NaN          NaN
18             NaN          NaN          NaN          NaN          NaN
40             NaN          NaN          NaN          NaN          NaN
41             NaN          NaN          NaN          NaN          NaN
...            ...          ...          ...          ...          ...
28376          NaN          NaN          NaN          NaN          NaN
28377          NaN          NaN          NaN          NaN          NaN
28383          NaN          NaN          NaN          NaN          NaN
28390          NaN          NaN          NaN          NaN          NaN
28395          NaN          NaN          NaN          NaN          NaN

      Unnamed: 318 Unnamed: 319
16             NaN          NaN
17             NaN          NaN
18             NaN          NaN
40             NaN          NaN
41             NaN          NaN
...            ...          ...
28376          NaN          NaN
28377          NaN          NaN
28383          NaN          NaN
28390          NaN          NaN
28395          NaN          NaN

[5019 rows x 320 columns]

Creating the SQLite Databases for each CSV File.

In [6]:
# Create SQLite database and tables
conn = sqlite3.connect("Hero.db")
cursor = conn.cursor()

# Create tables DC_data
cursor.execute("""
CREATE TABLE IF NOT EXISTS DCHeroes (
    id INTEGER PRIMARY KEY,
    name TEXT NOT NULL,
    identity TEXT NOT NULL, 
    align TEXT NOT NULL,
    eye TEXT NOT NULL,
    hair TEXT NOT NULL,
    sex TEXT NOT NULL,
    alive TEXT NOT NULL,
    appearances INTEGER NOT NULL,
    first appearance INTEGER NOT NULL,
    year INTEGER NOT NULL
);
""")

# Create tables Marvel_data
cursor.execute("""
CREATE TABLE IF NOT EXISTS MarvelHeroes (
    id INTEGER PRIMARY KEY,
    name TEXT NOT NULL,
    identity TEXT NOT NULL, 
    align TEXT NOT NULL,
    eye TEXT NOT NULL,
    hair TEXT NOT NULL,
    sex TEXT NOT NULL,
    alive TEXT NOT NULL,
    appearances INTEGER NOT NULL,
    first appearance INTEGER NOT NULL,
    year INTEGER NOT NULL
);
""")
# Create tables SuperHeroes_data
cursor.execute("""
CREATE TABLE IF NOT EXISTS SuperHeroes (
    id INTEGER PRIMARY KEY,
    name TEXT NOT NULL,
    intelligence INTEGER NOT NULL,
    strength INTEGER NOT NULL,
    speed INTEGER NOT NULL,
    durability INTEGER NOT NULL,
    power INTEGER NOT NULL,
    combat INTEGER NOT NULL,
    full_name TEXT NOT NULL,
    alter_egos TEXT NOT NULL, 
    aliases TEXT NOT NULL,
    place_of_birth TEXT NOT NULL,
    first_appearance TEXT NOT NULL,
    publisher TEXT NOT NULL,
    alignment TEXT NOT NULL,
    gender TEXT NOT NULL,
    race TEXT NOT NULL,
    height INTEGER NOT NULL,
    weight INTEGER NOT NULL,
    eye_color TEXT NOT NULL,
    hair_color TEXT NOT NULL,
    occupation TEXT NOT NULL,
    base TEXT NOT NULL,
    group_affiliation TEXT NOT NULL, 
    relatives TEXT NOT NULL,
    url TEXT NOT NULL
);
""")
# Create tables SuperHeroesPowers_data
cursor.execute("""
CREATE TABLE IF NOT EXISTS SuperHeroesPowers (
    id INTEGER PRIMARY KEY,
    Creator TEXT NOT NULL,
    Durability INTEGER NOT NULL, 
    Equipment INTEGER NOT NULL, 
    Eye_color TEXT NOT NULL,
    Gender TEXT NOT NULL,
    Hair_color TEXT NOT NULL,
    IQ INTEGER NOT NULL, 
    Intelligence INTEGER NOT NULL, 
    Name TEXT NOT NULL,
    Occupation TEXT NOT NULL,
    Power TEXT NOT NULL,
    Relatives TEXT NOT NULL,
    Speed INTEGER NOT NULL, 
    Strength INTEGER NOT NULL, 
    Super_powers TEXT NOT NULL,
    Weight INTEGER NOT NULL
);
""")
# Insert data into tables
DCComicsdf.to_sql("DCHeroes", conn, if_exists="replace", index=False)
MarvelComicsdf.to_sql("MarvelHeroes", conn, if_exists="replace", index=False)
Superheroes_datadf.to_sql("SuperHeroes", conn, if_exists="replace", index=False)
filteredDC_df.to_sql("SuperHeroesPowers", conn, if_exists="replace", index=False)
filteredMarvel_df.to_sql("SuperHeroesPowers", conn, if_exists="replace", index=False)

# Verify data was inserted
print("DC Heroes Table:\n")
print(pd.read_sql_query("SELECT * FROM DCHeroes", conn))

print("\Marvel Heroes Table:\n")
print(pd.read_sql_query("SELECT * FROM MarvelHeroes", conn))


print("Super Heroes Table:\n")
print(pd.read_sql_query("SELECT * FROM SuperHeroes", conn))

print("\Super Heroes Powers Table:\n")
print(pd.read_sql_query("SELECT * FROM SuperHeroesPowers", conn))

<>:102: SyntaxWarning: invalid escape sequence '\M'
<>:109: SyntaxWarning: invalid escape sequence '\S'
<>:102: SyntaxWarning: invalid escape sequence '\M'
<>:109: SyntaxWarning: invalid escape sequence '\S'
C:\Users\charl\AppData\Local\Temp\ipykernel_19528\4122961608.py:102: SyntaxWarning: invalid escape sequence '\M'
  print("\Marvel Heroes Table:\n")
C:\Users\charl\AppData\Local\Temp\ipykernel_19528\4122961608.py:109: SyntaxWarning: invalid escape sequence '\S'
  print("\Super Heroes Powers Table:\n")

DC Heroes Table:

        id              name       full-name  \
0        1            batman   (bruce wayne)
1        2          superman    (clark kent)
2        3     green lantern    (hal jordan)
3        4      james gordon     (new earth)
4        5   richard grayson     (new earth)
...    ...               ...             ...
6891  6892       nadine west     (new earth)
6892  6893    warren harding     (new earth)
6893  6894  william harrison     (new earth)
6894  6895  william mckinley     (new earth)
6895  6896            mookie     (new earth)

                                   urlslug         identity            align  \
0             \/wiki\/batman_(bruce_wayne)  secret identity  good characters
1            \/wiki\/superman_(clark_kent)  secret identity  good characters
2       \/wiki\/green_lantern_(hal_jordan)  secret identity  good characters
3         \/wiki\/james_gordon_(new_earth)  public identity  good characters
4      \/wiki\/richard_grayson_(new_earth)  secret identity  good characters
...                                    ...              ...              ...
6891       \/wiki\/nadine_west_(new_earth)  public identity  good characters
6892    \/wiki\/warren_harding_(new_earth)  public identity  good characters
6893  \/wiki\/william_harrison_(new_earth)  public identity  good characters
6894  \/wiki\/william_mckinley_(new_earth)  public identity  good characters
6895            \/wiki\/mookie_(new_earth)  public identity   bad characters

             eye        hair                sex   gsm              alive  \
0      blue eyes  black hair    male characters  None  living characters
1      blue eyes  black hair    male characters  None  living characters
2     brown eyes  brown hair    male characters  None  living characters
3     brown eyes  white hair    male characters  None  living characters
4      blue eyes  black hair    male characters  None  living characters
...          ...         ...                ...   ...                ...
6891        None        None  female characters  None  living characters
6892        None        None    male characters  None  living characters
6893        None        None    male characters  None  living characters
6894        None        None    male characters  None  living characters
6895   blue eyes  blond hair    male characters  None  living characters

     appearances first appearance  year  Unnamed: 14
0           3093        1939, may  1939          NaN
1           2496    1986, october  1986          NaN
2           1565    1959, october  1959          NaN
3           1316   1987, february  1987          NaN
4           1237      1940, april  1940          NaN
...          ...              ...   ...          ...
6891        None             None  None          NaN
6892        None             None  None          NaN
6893        None             None  None          NaN
6894        None             None  None          NaN
6895        None             None  None          NaN

[6896 rows x 15 columns]
\Marvel Heroes Table:

          id             name                  full-name  \
0          1       spider-man             (peter parker)
1          2  captain america            (steven rogers)
2          3        wolverine  (james \"logan\" howlett)
3          4         iron man   (anthony \"tony\" stark)
4          5             thor             (thor odinson)
...      ...              ...                        ...
16371  16372           ru'ach                (earth-616)
16372  16373            thane                (earth-616)
16373  16374         tinkerer                (earth-616)
16374  16375            tk421                (earth-616)
16375  16376        yologarch                (earth-616)

                                       urlslug          identity  \
0                  \/spider-man_(peter_parker)   secret identity
1            \/captain_america_(steven_rogers)   public identity
2      \/wolverine_(james_%22logan%22_howlett)   public identity
3        \/iron_man_(anthony_%22tony%22_stark)   public identity
4                        \/thor_(thor_odinson)  no dual identity
...                                        ...               ...
16371                   \/ru%27ach_(earth-616)  no dual identity
16372      \/thane_(thanos%27_son)_(earth-616)  no dual identity
16373          \/tinkerer_(skrull)_(earth-616)   secret identity
16374         \/tk421_(spiderling)_(earth-616)   secret identity
16375                  \/yologarch_(earth-616)              None

                    align         eye        hair              sex   gsm  \
0         good characters  hazel eyes  brown hair  male characters  None
1         good characters   blue eyes  white hair  male characters  None
2      neutral characters   blue eyes  black hair  male characters  None
3         good characters   blue eyes  black hair  male characters  None
4         good characters   blue eyes  blond hair  male characters  None
...                   ...         ...         ...              ...   ...
16371      bad characters  green eyes     no hair  male characters  None
16372     good characters   blue eyes        bald  male characters  None
16373      bad characters  black eyes        bald  male characters  None
16374  neutral characters        None        None  male characters  None
16375      bad characters        None        None             None  None

                   alive  appearances first appearance    year
0      living characters       4043.0           Aug-62  1962.0
1      living characters       3360.0           Mar-41  1941.0
2      living characters       3061.0           Oct-74  1974.0
3      living characters       2961.0           Mar-63  1963.0
4      living characters       2258.0           Nov-50  1950.0
...                  ...          ...              ...     ...
16371  living characters          NaN             None     NaN
16372  living characters          NaN             None     NaN
16373  living characters          NaN             None     NaN
16374  living characters          NaN             None     NaN
16375  living characters          NaN             None     NaN

[16376 rows x 14 columns]
Super Heroes Table:

      id             name  intelligence  strength  speed  durability  power  \
0      1           A-Bomb          38.0     100.0   17.0        80.0   24.0
1      2       Abe Sapien          88.0      28.0   35.0        65.0  100.0
2      3         Abin Sur          50.0      90.0   53.0        64.0   99.0
3      4      Abomination          63.0      80.0   53.0        90.0   62.0
4      5          Abraxas          88.0      63.0   83.0       100.0  100.0
..   ...              ...           ...       ...    ...         ...    ...
726  727  Yellowjacket II          50.0      10.0   35.0        28.0   31.0
727  728             Ymir          50.0     100.0   27.0       100.0   98.0
728  729             Yoda          88.0      52.0   33.0        25.0  100.0
729  730          Zatanna          81.0      10.0   23.0        28.0  100.0
730  731             Zoom          50.0      10.0  100.0        28.0  100.0

     combat               full-name            alter-egos  ...  \
0      64.0  Richard Milhouse Jones  No alter egos found.  ...
1      85.0          Abraham Sapien  No alter egos found.  ...
2      65.0                    None  No alter egos found.  ...
3      95.0            Emil Blonsky  No alter egos found.  ...
4      55.0                 Abraxas  No alter egos found.  ...
..      ...                     ...                   ...  ...
726    28.0             Rita DeMara  No alter egos found.  ...
727    28.0                    Ymir  No alter egos found.  ...
728    90.0                    Yoda  No alter egos found.  ...
729    56.0          Zatanna Zatara  No alter egos found.  ...
730    28.0          Hunter Zolomon  No alter egos found.  ...

                  race                    height                weight  \
0                Human         ["6'8", '203 cm']  ['980 lb', '441 kg']
1        Icthyo Sapien         ["6'3", '191 cm']   ['145 lb', '65 kg']
2              Ungaran         ["6'1", '185 cm']   ['200 lb', '90 kg']
3    Human / Radiation         ["6'8", '203 cm']  ['980 lb', '441 kg']
4        Cosmic Entity             ['-', '0 cm']      ['- lb', '0 kg']
..                 ...                       ...                   ...
726              Human         ["5'5", '165 cm']   ['115 lb', '52 kg']
727        Frost Giant  ['1000', '304.8 meters']      ['- lb', '0 kg']
728     Yoda's species          ["2'2", '66 cm']    ['38 lb', '17 kg']
729              Human         ["5'7", '170 cm']   ['127 lb', '57 kg']
730               None         ["6'1", '185 cm']   ['181 lb', '81 kg']

    eye-color        hair-color  \
0      Yellow           No Hair
1        Blue           No Hair
2        Blue           No Hair
3       Green           No Hair
4        Blue             Black
..        ...               ...
726      Blue  Strawberry Blond
727     White           No Hair
728     Brown             White
729      Blue             Black
730       Red             Brown

                                            occupation                   base  \
0    Musician, adventurer, author; formerly talk sh...                      -
1                              Paranormal Investigator                      -
2              Green Lantern, former history professor                     Oa
3                                               Ex-Spy                 Mobile
4                                Dimensional destroyer                      -
..                                                 ...                    ...
726  Adventurer; former criminal, electronics engineer     New York City area
727                                                  -             Niffleheim
728                                                  -                      -
729                                                  -                      -
730                                                  -  Keystone City, Kansas

                                     group-affiliation  \
0    Hulk Family; Excelsior (sponsor), Avengers (ho...
1           Bureau for Paranormal Research and Defense
2             Green Lantern Corps, Black Lantern Corps
3    former member of the crew of the Andromeda Sta...
4                                        Cosmic Beings
..                                                 ...
726  Formerly Guardians of the Galaxy, Avengers, Ma...
727                                                  -
728    Jedi Order, Jedi High Counsl, Galactic Republic
729  Misty Kilgore, Seven Soldiers of Victory, Just...
730  Secret Society of Super Villains, formerly Key...

                                             relatives  \
0    Marlo Chandler-Jones (wife); Polly (aunt); Mrs...
1                        Edith Howard (wife, deceased)
2    Amon Sur (son), Arin Sur (sister), Thaal Sines...
3              Nadia Dornova Blonsky (wife, separated)
4                                  Eternity ("Father")
..                                                 ...
726                                                  -
727  Utgard-Loki, Loki, and the race of Frost Giant...
728  Master: N'Kata Del Gormo, Apprentices: Dooku, ...
729  Giovanni "John" Zatara (father, deceased), Sin...
730                           Ashley Zolomon (ex-wife)

                                                   url
0    https://www.superherodb.com/pictures2/portrait...
1    https://www.superherodb.com/pictures2/portrait...
2    https://www.superherodb.com/pictures2/portrait...
3    https://www.superherodb.com/pictures2/portrait...
4    https://www.superherodb.com/pictures2/portrait...
..                                                 ...
726  https://www.superherodb.com/pictures2/portrait...
727  https://www.superherodb.com/pictures2/portrait...
728  https://www.superherodb.com/pictures2/portrait...
729  https://www.superherodb.com/pictures2/portrait...
730  https://www.superherodb.com/pictures2/portrait...

[731 rows x 26 columns]
\Super Heroes Powers Table:

           id Alignment Alter_Egos                      Base        Character  \
0        17.0       Bad       None                      None  Aldrich Killian
1        18.0       Bad       None                      None  Aldrich Killian
2        19.0       Bad       None                      None  Aldrich Killian
3        41.0   Neutral      Angel                      None        Archangel
4        42.0   Neutral      Angel                      None        Archangel
...       ...       ...        ...                       ...              ...
5014  28377.0      None       None                      None           Vision
5015  28378.0      None       None                      None           Vision
5016  28384.0   Neutral       None  Starship Captain America            Yondu
5017  28391.0   Neutral       None                      None             Zeus
5018  28396.0      Good  Zeus,Zeus             Mount Olympus             Zeus

     Class_value                                        Collections Combat  \
0            133                                               None     60
1            144                                               None     60
2            144                                               None     60
3            101                                               None     60
4            109                                               None     60
...          ...                                                ...    ...
5014      1752.1                                               None     30
5015      286173                                               None    100
5016       107.3                                        Anti-heroes     80
5017       16458                                               None     70
5018   154179745  Anti-heroes,Avx Civil War Avengers Vs X-men Ci...     90

            Creator Durability  ... Unnamed: 310 Unnamed: 311 Unnamed: 312  \
0     Marvel Comics         25  ...         None         None         None
1     Marvel Comics         25  ...         None         None         None
2     Marvel Comics         25  ...         None         None         None
3     Marvel Comics         25  ...         None         None         None
4     Marvel Comics         25  ...         None         None         None
...             ...        ...  ...          ...          ...          ...
5014  Marvel Comics         35  ...         None         None         None
5015  Marvel Comics        100  ...         None         None         None
5016  Marvel Comics         50  ...         None         None         None
5017  Marvel Comics         70  ...         None         None         None
5018  Marvel Comics        100  ...         None         None         None

     Unnamed: 313 Unnamed: 314 Unnamed: 315 Unnamed: 316 Unnamed: 317  \
0            None         None         None         None         None
1            None         None         None         None         None
2            None         None         None         None         None
3            None         None         None         None         None
4            None         None         None         None         None
...           ...          ...          ...          ...          ...
5014         None         None         None         None         None
5015         None         None         None         None         None
5016         None         None         None         None         None
5017         None         None         None         None         None
5018         None         None         None         None         None

     Unnamed: 318 Unnamed: 319
0            None         None
1            None         None
2            None         None
3            None         None
4            None         None
...           ...          ...
5014         None         None
5015         None         None
5016         None         None
5017         None         None
5018         None         None

[5019 rows x 320 columns]

In [42]:
print("\Super Heroes Powers Table:\n")
print(pd.read_sql_query("SELECT * FROM SuperHeroesPowers", conn))

\Super Heroes Powers Table:

     Alignment Alter_Egos                      Base        Character  \
0          Bad       None                      None  Aldrich Killian
1          Bad       None                      None  Aldrich Killian
2          Bad       None                      None  Aldrich Killian
3      Neutral      Angel                      None        Archangel
4      Neutral      Angel                      None        Archangel
...        ...        ...                       ...              ...
5014      None       None                      None           Vision
5015      None       None                      None           Vision
5016   Neutral       None  Starship Captain America            Yondu
5017   Neutral       None                      None             Zeus
5018      Good  Zeus,Zeus             Mount Olympus             Zeus

     Class_value                                        Collections Combat  \
0          133.0                                               None     60
1          144.0                                               None     60
2          144.0                                               None     60
3          101.0                                               None     60
4          109.0                                               None     60
...          ...                                                ...    ...
5014      1752.1                                               None     30
5015      286173                                               None    100
5016       107.3                                        Anti-heroes     80
5017       16458                                               None     70
5018   154179745  Anti-heroes,Avx Civil War Avengers Vs X-men Ci...     90

            Creator Durability   Equipment  ...        Species Speed  \
0     Marvel Comics         25        None  ...      Metahuman     6
1     Marvel Comics         25        None  ...      Metahuman     6
2     Marvel Comics         25        None  ...      Metahuman     6
3     Marvel Comics         25        None  ...          Human    25
4     Marvel Comics         25        None  ...          Human    25
...             ...        ...         ...  ...            ...   ...
5014  Marvel Comics         35        None  ...           None    30
5015  Marvel Comics        100        None  ...           None    95
5016  Marvel Comics         50  Yaka Arrow  ...          Alien    35
5017  Marvel Comics         70        None  ...       Olympian   100
5018  Marvel Comics        100        None  ...  God / Eternal   100

     Speed_velocity Strength Strength_force  \
0                10        5            200
1                10        5            200
2                10        5            200
3               343        6            250
4               343        6            250
...             ...      ...            ...
5014           2000       25          30000
5015      889976899      100     1000000000
5016           3777       19            750
5017     1000000000      100     1000000000
5018     1000000000      100     1000000000

                                           Super_powers Tier     Universe  \
0     Accelerated Healing,Cold Resistance,Energy Bea...    1  Earth-13122
1     Accelerated Healing,Cold Resistance,Energy Bea...    1  Earth-13122
2     Accelerated Healing,Cold Resistance,Energy Bea...    1  Earth-13122
3     Stamina,Accelerated Development,Accelerated He...    1         EMCU
4     Stamina,Accelerated Development,Accelerated He...    1         EMCU
...                                                 ...  ...          ...
5014                                               None    3   Earth-8096
5015                                               None    7  Earth-19919
5016                                               None    1    Earth-616
5017  Agility,Durability,Electrokinesis,Immortality,...    4          MCU
5018  Accelerated Healing,Acid Resistants,Adaptation...    8    Earth-616

                   Weight                                            History
0                       -                                               None
1                       -                                               None
2                       -                                               None
3                       -  Warren Worthington III was seen trying to cut ...
4                       -  Warren Worthington III was seen trying to cut ...
...                   ...                                                ...
5014                    -                                               None
5015                    -                                               None
5016  95.3 kg • 210.1 lbs  Yondu is the leader of the Ravagers, a group o...
5017                    -                                               None
5018  254.01 kg • 560 lbs  Born ten of thousands years ago, Zeus was the ...

[5019 rows x 39 columns]

<>:1: SyntaxWarning: invalid escape sequence '\S'
<>:1: SyntaxWarning: invalid escape sequence '\S'
C:\Users\charl\AppData\Local\Temp\ipykernel_13984\2230652961.py:1: SyntaxWarning: invalid escape sequence '\S'
  print("\Super Heroes Powers Table:\n")

Joining tables on Name columns to grab all of the columns I'm looking for.

In [5]:
# Connect to SQLite database
conn = sqlite3.connect('Hero.db')

cursor = conn.cursor()

# Query for INNER JOIN
sql = """Select DCHeroes.name, identity, eye, hair, sex, alive
FROM DCHeroes
INNER JOIN SuperHeroesPowers
ON DCHeroes.name = SuperHeroesPowers.Name;"""

# Executing the query
cursor.execute(sql)

# Fetching rows from the result table
result = cursor.fetchall()
for row in result:
    print(row)

# Closing the connection
conn.close()